<div *ngIf="usuario">
  <div class="card-header">
    <span *ngIf="lista">
        <i class="icon ion-android-list"></i> Categorias
    </span>

    <a class="btn btn-link" *ngIf="editarCat" (click)="backCat()">
      <i class="icon ion-android-arrow-back" aria-hidden="true"></i> Categorias
    </a>

    <a class="btn btn-link" *ngIf="agregar" (click)="backCat()">
      <i class="icon ion-android-arrow-back " aria-hidden="true"></i> Categorias
    </a>

    <span *ngIf="admin">
      <a  class="btn btn-link add" *ngIf="lista" (click)="agregarCategoria()">
        <i class="icon ion-android-add-circle"></i> Agregar categoria
      </a>
    </span>

  </div>
  <div class="card mb-3 boddy">
    <div class="datos">
      <div class="col col-md-12 col-xl-12 col-lg-12">

        <div class="row" style="margin-top: 5px" *ngIf="lista">
          <div class="col-sm-4" *ngFor="let cat of categorias">
            <div class="card bg-light mb-3">
              <div class="card-header">
                <button class="btn btn-link ir" (click)="irCategoria(cat.id_categoria_ing_gas, cat.nombre)">{{ cat.nombre }}</button>
                <span class="iconos">
                  <a (click)="eliminarPreCat(cat.id_categoria_ing_gas, cat.nombre)"><i class="icon ion-trash-b icono" *ngIf="admin"></i></a>
                  <a (click)="editarCategoria(cat.id_categoria_ing_gas)"><i class="icon ion-edit icono" *ngIf="admin"></i></a>
                </span>
              </div>
              <div class="card-body">
                <!--<h4 class="card-title">Primary card title</h4>-->
                <p class="card-text">{{cat.descripcion}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 5px" *ngIf="editarCat">
          <div class="card-body">
            <fieldset class="form-group">
              <label>Nombre: </label>
              <input class="form-control"  type="text" id="nombre" name="nombre" [(ngModel)]="nombre">
            </fieldset>

            <fieldset class="form-group">
              <label>Descripcion: </label>
              <textarea class="form-control"  type="text" id="descripcion" name="descripcion" [(ngModel)]="descripcion"></textarea>
            </fieldset>

            <button style="width: 50%; margin-left: 25%" class="btn btn-primary" (click)="guardarCategoriaEditar()">Guardar</button>
          </div>
        </div>

        <div class="row" style="margin-top: 5px" *ngIf="agregar">
          <div class="card-body">
            <fieldset class="form-group">
              <label>Nombre: </label>
              <input class="form-control"  type="text" id="nombre_a" name="nombre_a" [(ngModel)]="nombre_a">
            </fieldset>

            <fieldset class="form-group">
              <label>Descripcion: </label>
              <textarea class="form-control"  type="text" id="descripcion_a" name="descripcion_a" [(ngModel)]="descripcion_a"></textarea>
            </fieldset>


            <button style="width: 50%; margin-left: 25%" class="btn btn-primary" (click)="guardarCategoria()">Guardar</button>
          </div>
        </div>

      </div>
    </div>
  </div>


</div>
