.add{
  margin-top: -6px;
  float: right;
  color: #f9f9f9 !important;
  &:hover {
    color: #d15a12 !important;
    background: #f9f9f9 !important;
  }
}

.boton_editar{
  position:absolute; top:0; right:3px;
}

.btn-primary{
  background-color: #4b4b4b;
  border-color: #4b4b4b;
  // color: #4b4b4b !important;
}

.btn-sm{
  margin-left: 5px !important;
}

.btn-primary{
  background-color: #4b4b4b;
  border-color: #4b4b4b;
  color: #fff;
}

.boddy{
  margin-top: 1%;
  color: #4b4b4b;
  opacity: 0.9;
}

.card-header{
  background-color: #d15a12;
  opacity: 0.7;
  color: #f9f9f9;
}

.datos{
  margin-top: 1%;
  margin-bottom: 1.5%;
}

.iconos{
  float: right !important;
}

.icono{
  color: #f9f9f9 !important;
  margin-right: 5px !important;
  &:hover {
    color: #58131e !important;
  }
}

.ir{
  margin-top: -6px;
  float: right;
  color: #f9f9f9 !important;
  &:hover {
    color: #58131e !important;
    font-style: unset;
  }
}

.title{
  margin-left: 1% !important;
}

.sub-title{
  text-align: center;
}

