<div class="d-flex justify-content-center align-items-center min-height-100 h-100">
  <div class="auth-container">
    <div class="card card-body m-3 p-5">
      <img src="assets/images/Yaakun.svg">
      <div  style="text-align: center; padding-top: 10%"><h3 class="fw-100 text-success mb-4" style="color: #e29805 !important;">Inicio de sesion</h3></div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <fieldset class="form-group mb-4" [ngClass]="{'has-danger': form.controls['uname'].hasError('required') && form.controls['uname'].touched}">
          <input type="text" class="form-control" placeholder="correo" [formControl]="form.controls['uname']" #username            [ngClass]="{'form-control-danger': form.controls['uname'].hasError('required') && form.controls['uname'].touched}" />
          <div class="invalid-feedback" *ngIf="form.controls['uname'].hasError('required') && form.controls['uname'].touched">El usuario es
          requerido</div>
        </fieldset>
        <fieldset class="form-group mb-4" [ngClass]="{'has-danger': form.controls['password'].hasError('required') && form.controls['password'].touched}">
          <input type="password" class="form-control" placeholder="********" [formControl]="form.controls['password']" #pass
            [ngClass]="{'form-control-danger': form.controls['password'].hasError('required') && form.controls['password'].touched}" />
          <div class="invalid-feedback" *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched">La contraseña
            es requerida.</div>
        </fieldset>
        <div class="d-flex w-100 align-items-center">
          <div class="col">
            <label class="custom-control custom-checkbox mb-0">
             <!-- <input type="checkbox" class="custom-control-input">
              <span class="custom-control-label"></span>-->
              <!--<span class="custom-control-description">Permanecer conectado</span>-->
            </label>
          </div>
          <div class="col text-right">
            <a [routerLink]="['/account/forgot']" style="color: #e29805; text-decoration: underline;">Recupera tu contraseña</a>
          </div>
        </div>
        <div class="d-flex justify-content-center mt-4 mb-4">
          <button class="btn"  type="submit" [disabled]="!form.valid" (click)="login(username.value, pass.value)">Entrar</button>
        </div>
        <!--<div class="text-center">
          <p>Don't have an account? <a [routerLink]="['/account/signup']">Create one now!</a></p>
        </div>-->
      </form>
    </div>
  </div>
  <div class="bg-cover"></div>
</div>
