input.form-control {
  border-radius: 90px;
  padding: 1rem 1.5rem;
}

.btn {
  border-radius: 90px;
  border: transparent;
  padding: 1rem 1.5rem;
  min-width: 120px;
  background-color: #400342;
  color: white;
  font-weight: bold;
}



