<!--<div class="taskboard page-height">
  <div class="taskboard-wrapper" *ngFor="let board of taskboard">
    <div class="taskboard-list">
      <div class="taskboard-header text-uppercase">
        <strong>{{board.title}}</strong>
      </div>
      <div class="taskboard-cards" [dragula]='"task-group"'>
        <div *ngIf="board.title=='Reservaciones de la semana'">
          <div class="taskboard-task task-status-success " *ngFor="let datos2 of datos2">
            <div class="taskboard-task-title">{{datos2.folio}}</div>
            <div class="taskboard-task-title">{{datos2.correo}}</div>
            <span class="card-text text-muted">Fecha: {{datos2.fecha_realizacion}}</span>
            <span class="card-text text-muted"> Hora: {{datos2.hora}}</span>
            <a  style="text-align: right; background: transparent; color: saddlebrown; size: 30px ">Ver más</a>
            <br>
          </div>
        </div>
        <div *ngIf="board.title=='Pendientes'">
          <div class="taskboard-task task-status-warning" *ngFor="let datos of datos" >
            <div class="taskboard-task-title">{{datos.folio}}</div>
            <div class="taskboard-task-title">{{datos.correo}}</div>
            <span class="card-text text-muted">Fecha: {{datos.fecha_realizacion}}</span>
            <span class="card-text text-muted"> Hora: {{datos.hora}}</span>
            <a  style="text-align: right; background: transparent; color: saddlebrown; size: 30px ">Ver más</a>
            <br>
          </div>
        </div>
        <div *ngIf="board.title=='Reservaciones canceladas'">
          <div class="taskboard-task task-status-danger" *ngFor="let datos4 of datos4">
            <div class="taskboard-task-title">{{datos4.folio}}</div>
            <div class="taskboard-task-title">{{datos4.correo}}</div>
            <span class="card-text text-muted">Fecha: {{datos4.fecha_realizacion}}</span>
            <span class="card-text text-muted"> Hora: {{datos4.hora}}</span>
            <a  style="text-align: right; background: transparent; color: saddlebrown; size: 30px ">Ver más</a>
            <br>
          </div>
        </div>
        <div *ngIf="board.title=='Reservaciones realizadas'">
          <div class="taskboard-task task-status-info" *ngFor="let datos5 of datos5">
            <div class="taskboard-task-title">{{datos5.folio}}</div>
            <div class="taskboard-task-title">{{datos5.correo}}</div>
            <span class="card-text text-muted">Fecha: {{datos5.fecha_realizacion}}</span>
            <span class="card-text text-muted">Hora: {{datos5.hora}}</span>
            <a  style="text-align: right; background: transparent; color: saddlebrown; size: 30px ">Ver más</a>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->

<div class="card overflow-hidden" style="margin: 1.1% ">
  <div class="card-header" >
    <!--<a style="position: absolute; right: 3%;"  class="links" href="/forms/validation"><i class="icon ion-android-add-circle "> Agregar convocatoria</i></a>-->
  </div>
  <div class="card-body">
    <!--<div class="card-header d-flex flex-wrap justify-content-md-between no-gutters px-3 py-2">
      <div class="col-xs-12 col-sm-6 align-self-center text-center text-sm-left">
        <h3 class="mb-0 fw-100">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
      </div>
      <div class="d-flex justify-content-end col-xs-12 col-sm-6 text-right pt-3 pt-sm-0">
        <div class="btn-group mr-auto mr-sm-0">
          <div class="btn btn-secondary px-3" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
            <i class="icon ion-ios-arrow-back"></i>
          </div>
          <div class="btn btn-secondary px-3" mwlCalendarToday [(viewDate)]="viewDate">
            Today
          </div>
          <div class="btn btn-secondary px-3" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
            <i class="icon ion-ios-arrow-forward"></i>
          </div>
        </div>
        <div class="dropdown btn-group ml-1" ngbDropdown placement="bottom-right">
          <button type="button" class="btn btn-secondary px-3">View</button>
          <button type="button" class="btn btn-secondary dropdown-toggle px-3" ngbDropdownToggle aria-haspopup="true"
            aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div ngbDropdownMenu class="dropdown-menu" role="menu">
            <button class="dropdown-item" (click)="view = 'month'" [class.active]="view === 'month'">Month</button>
            <button class="dropdown-item" (click)="view = 'week'" [class.active]="view === 'week'">Week</button>
            <button class="dropdown-item" (click)="view = 'day'" [class.active]="view === 'day'">Day</button>
          </div>
        </div>
      </div>
    </div>
    <div [ngSwitch]="view">
      <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-month-view>
      <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-week-view>
      <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-day-view>
    </div>-->
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
      <thead>
      <tr>
        <th>Folio</th>
        <th>Proyecto</th>
        <th>Cierre Incripciones</th>
        <th>Comienza</th>
        <th>Finaliza</th>
        <th>Lugar</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let conv of conv">
        <td>{{ conv.folio}}</td>
        <td>{{ conv.nombre }}</td>
        <td>{{ conv.fecha_cierre }}</td>
        <td>{{ conv.fecha_inicio }}</td>
        <td>{{ conv.fecha_final }}</td>
        <td>{{ conv.lugar_realizacion }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

