@import "../../assets/styles/scss/components/taskboard";

@import "../../assets/styles/scss/components/calendar";

.links{
  color: #880e4f;
  float: left;
}

:host {
  padding: 0 !important;
  height: 100%;
}

.gu-mirror {
  background-color: white;
  border-radius: 0.125rem;
  padding: 0.5rem;
  opacity: 1;
}
