<div class="row">
  <div class="col-md-6 col-lg-3" *ngFor="let datos of datos">
    <div class="card" (click)="ver(datos.id_categoria)">
      <img class="card-img img-fluid imagen" src="assets/images/voluntariado.jpg" alt="Card image" />
      <div class="card-img-overlay">
        <p class="card-title titulo" >
          {{datos.nombre}}
        </p>
      </div>
    </div>
  </div>

</div>

