.titulo{
  color: #495057;
  font-family: "Arial Narrow";
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  padding: 10%;
  margin-top: 25% ;
  margin-bottom: 25%;
}


.imagen{
  opacity: 0.5;
}
