:host {
  .widget-icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
  }
}
.colorH{
  background-color: #400342;
  a{
    color: white;
  }
  span{
    color: white;
  }
}

