<div class="card">
  <div class="card-header">Datos</div>
  <div class="card-body">
    <form class="form-horizontal" novalidate>

      <div class="form-group row" [ngClass]="{'has-danger': date?.errors?.date}">
        <label class="col-2 col-form-label">Fecha de reservacion</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="fecha" [(ngModel)]="fecha"  readonly #date="ngModel" date [ngClass]="{'form-control-danger': date?.errors?.date}" />
          <div class="form-control-feedback" *ngIf="date?.errors?.date">date error</div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-danger': pattern?.errors?.required}">
        <label class="col-2 col-form-label">Nombre</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="nombre"  [(ngModel)]="nombre" #pattern="ngModel" required
                 [ngClass]="{'form-control-danger': pattern?.errors?.required}" />
          <div class="form-control-feedback" style="color: firebrick " *ngIf="pattern?.errors?.required">Nombre requerido</div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-danger': pattern2?.errors?.required}">
        <label class="col-2 col-form-label">Apellido paterno</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="a_paterno" [(ngModel)]="a_paterno" #pattern2="ngModel" required
                 [ngClass]="{'form-control-danger': pattern2?.errors?.required}" />
          <div class="form-control-feedback" style="color: firebrick " *ngIf="pattern2?.errors?.required">Apellido requerido</div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-danger': pattern3?.errors?.required}">
        <label class="col-2 col-form-label">Apellido materno</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="a_materno" #pattern3="ngModel" required [(ngModel)]="a_materno"
                 [ngClass]="{'form-control-danger': pattern3?.errors?.required}" />
          <div class="form-control-feedback" style="color: firebrick " *ngIf="pattern3?.errors?.required">Apellido requerido</div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-danger': requried?.errors?.required}">
        <label class="col-2 col-form-label">Hora</label>
        <div class="col-10">
          <select class="form-control"  type="text" ngModel name="hora" [(ngModel)]="hora" #requried="ngModel" required [ngClass]="{'form-control-danger': requried?.errors?.required}" >
            <option value="10:30">10:30</option>
            <option value="12:30">12:30</option>
          </select>
          <div class="form-control-feedback" style="color: firebrick " *ngIf="requried?.errors?.required">Hora requerida</div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-danger': number2?.errors?.required}">
        <label class="col-2 col-form-label">Número de personas</label>
        <div class="col-10">
          <input class="form-control" type="number"  [(ngModel)]="personas" ngModel name="number" min="1" required #number2="ngModel" number2 [ngClass]="{'form-control-danger': number2?.errors?.required}" />
          <div class="form-control-feedback" style="color: firebrick " *ngIf="number2?.errors?.required">Número de personas requerido</div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-danger': tel?.errors?.required}">
        <label class="col-2 col-form-label">telefono</label>
        <div class="col-10">
          <input class="form-control" type="number" placeholder="Ejem: 415-000-00-00" ngModel name="telefono" [(ngModel)]="telefono" #tel="ngModel" tel required [ngClass]="{'form-control-danger': tel?.errors?.required}" />
          <div class="form-control-feedback" style="color: firebrick " *ngIf="tel?.errors?.required">Número telefonico requerido</div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-danger': email?.errors?.email}">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-10">
          <input class="form-control" type="text" placeholder="Ejem: ejemplo@gmail.com" ngModel name="mail" #email="ngModel" [(ngModel)]="mail" email [ngClass]="{'form-control-danger': email?.errors?.email}" />
          <div class="form-control-feedback"  style="color: firebrick " *ngIf="email?.errors?.email">Correo no valido</div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-danger': requried2?.errors?.required}">
        <label class="col-2 col-form-label">Forma de pago</label>
        <div class="col-10">
          <select class="form-control" type="text" ngModel name="forma_p" [(ngModel)]="forma_p" #requried2="ngModel" required [ngClass]="{'form-control-danger': requried2?.errors?.required}" >
            <option value="efectivo">Efectivo</option>
            <option value="tranferencia">Transferencia</option>
            <option value="deposito">Deposito</option>
          </select>
          <div class="form-control-feedback" style="color: firebrick " *ngIf="requried2?.errors?.required">Tipo de pago requerido</div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-danger': refe.errors?.requried}">
        <label class="col-2 col-form-label">Referencia</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="referencia"  [(ngModel)]="referencia" #refe="ngModel" required [ngClass]="{'form-control-danger': number?.errors?.required}" />
          <div class="form-control-feedback" style="color: firebrick " *ngIf="refe?.errors?.required">Referencia requerida</div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-danger': requried3?.errors?.required}">
        <label class="col-2 col-form-label">Forma de pago restante</label>
        <div class="col-10">
          <select class="form-control" type="text" ngModel name="forma_pR" [(ngModel)]="forma_pR" #requried3="ngModel" required [ngClass]="{'form-control-danger': requried3?.errors?.required}" >
            <option value="efectivo">Efectivo</option>
            <option value="tarjeta">Tarjeta</option>
          </select>
         <!-- <div class="form-control-feedback" style="color: firebrick " *ngIf="requried3?.errors?.required">Tipo de pago requerido</div>-->
        </div>
      </div>

      <div class="form-group row" >
        <label class="col-3 col-form-label"></label>
        <div class="col-6">
          <button type="button"  class="btn col-12" (click)="ModalPersonas(content)">Reservar</button>
        </div>
      </div>


      <div class="row">
        <div class="card-body">
          <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title">Personas</h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group row" [ngClass]="{'has-danger': nombre?.errors?.required}">
              <label class="col-4 col-form-label">Nombre</label>
              <div class="col-8">
                <input class="form-control" type="text" ngModel name="nombreC"  [(ngModel)]="nombreC" #nombre="ngModel" required
                       [ngClass]="{'form-control-danger': nombre?.errors?.required}" />
                <div class="form-control-feedback" style="color: firebrick " *ngIf="nombre?.errors?.required">Nombre requerido</div>
              </div>
            </div>

              <div class="form-group row" [ngClass]="{'has-danger': a_paterno?.errors?.required}">
                <label class="col-4 col-form-label">Apellido paterno</label>
                <div class="col-8">
                  <input class="form-control" type="text" ngModel name="a_paternoC" [(ngModel)]="a_paternoC" #a_paterno="ngModel" required
                         [ngClass]="{'form-control-danger': a_paterno?.errors?.required}" />
                  <div class="form-control-feedback" style="color: firebrick " *ngIf="a_paterno?.errors?.required">Apellido requeridoinvalido</div>
                </div>
              </div>

              <div class="form-group row" [ngClass]="{'has-danger': a_materno?.errors?.required}">
                <label class="col-4 col-form-label">Apellido materno</label>
                <div class="col-8">
                  <input class="form-control" type="text" ngModel name="a_maternoC" #a_materno="ngModel" required [(ngModel)]="a_maternoC"
                         [ngClass]="{'form-control-danger': a_materno?.errors?.required}" />
                  <div class="form-control-feedback" style="color: firebrick " *ngIf="a_materno?.errors?.required">Apellido requerido</div>
                </div>
              </div>

              <div class="form-group row" [ngClass]="{'has-danger': edad?.errors?.required}">
              <label class="col-4 col-form-label">Edad</label>
              <div class="col-8">
                <input class="form-control" type="number"  [(ngModel)]="edadC" ngModel name="edadC" min="1" required #edad="ngModel" [ngClass]="{'form-control-danger': edad?.errors?.required}" />
                <div class="form-control-feedback" style="color: firebrick " *ngIf="edad?.errors?.required">Edad requerida</div>
              </div>
            </div>

              <div class="form-group row" [ngClass]="{'has-danger': estatura?.errors?.required}">
              <label class="col-4 col-form-label">Estatura</label>
              <div class="col-8">
                <input class="form-control" type="number"  [(ngModel)]="estaturaC" ngModel name="estaturaC" min="1" required #estatura="ngModel" [ngClass]="{'form-control-danger': estatura?.errors?.required}" />
                <div class="form-control-feedback" style="color: firebrick " *ngIf="estatura?.errors?.required">Estatura requerida</div>
              </div>
            </div>

              <div class="form-group row" [ngClass]="{'has-danger': peso?.errors?.required}">
              <label class="col-4 col-form-label">Peso</label>
              <div class="col-8">
                <input class="form-control" type="number"  [(ngModel)]="pesoC" ngModel name="pesoC" min="1" required #peso="ngModel" [ngClass]="{'form-control-danger': peso?.errors?.required}" />
                <div class="form-control-feedback" style="color: firebrick " *ngIf="peso?.errors?.required">Peso requerida</div>
              </div>
            </div>

              <div class="form-group row" [ngClass]="{'has-danger': nivel?.errors?.required}">
              <label class="col-4 col-form-label">Experiencia montando</label>
              <div class="col-8">
                <select class="form-control" type="text" ngModel name="nivelC" [(ngModel)]="nivelC" #nivel="ngModel" required [ngClass]="{'form-control-danger': nivel?.errors?.required}" >
                  <option value="principiante">Principiante</option>
                  <option value="medio">Medio</option>
                  <option value="avanzado">Avanzado</option>
                </select>
                <div class="form-control-feedback" style="color: firebrick " *ngIf="nivel?.errors?.required">Tipo de pago requerido</div>
              </div>
            </div>

              <div class="form-group row" [ngClass]="{'has-danger': montado?.errors?.required}">
              <label class="col-4 col-form-label">Veces que ha montado</label>
              <div class="col-8">
                <input class="form-control" type="number"  [(ngModel)]="montadoC" ngModel name="montadoC" min="1" required #montado="ngModel" [ngClass]="{'form-control-danger': montado?.errors?.required}" />
                <div class="form-control-feedback" style="color: firebrick " *ngIf="montado?.errors?.required">cantidad requerida</div>
              </div>
            </div>

          </div>


            <div class="modal-footer">
              <div class="row col-md-4 col-md-offset-2"><button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button></div>
              <div><button type="button" class="btn btn-secondary" (click)=" registrar(content2)">Ok</button></div>
            </div>
          </ng-template>
        </div>
      </div>


      <div class="row">
        <div class="card-body">
          <ng-template #content2 let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title">Información de la reservación</h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div >
                <h3 style="text-align: center">Datos generales</h3>
                <div class="row">
                  <div class="col-12"><h5>Reservacion a nombre de: {{nombre}} {{a_paterno}} {{a_materno}}</h5></div>
                  <div class="col-12"><h5>Facha: {{fecha}}  Hora: {{hora}}</h5></div>
                  <div class="col-12"> <h6>Número de personas: {{personas}}</h6></div>
                  <div class="col-12"><h5>Correo: {{mail}}</h5></div>
                  <div class="col-12"><h6>Pago en: {{forma_p}}</h6></div>
                </div>
              </div>
              <div>
                  <h3 style="text-align: center">Datos clientes</h3>
                  <div class="row" *ngFor="let datosP of total_personas">
                   <div class="col-12"> <h5>Nombre: {{datosP.nombre}} {{datosP.a_paterno}} {{datosP.a_materno}}</h5></div>
                   <div class="col-12"> <h6>Edad: {{datosP.edad}} años   Estatura: {{datosP.estatura}} m   Peso: {{datosP.peso}} kg</h6></div>
                   <div class="col-12">  <h5>Experiencia: {{datosP.nivel_experiencia}}</h5></div>
                   <div class="col-12">  <h6> Veces que ha montado: {{datosP.veces_montado}}</h6></div>
                  </div>
              </div>



            </div>

            <div class="modal-footer">
              <div class="row col-md-4 col-md-offset-2"><button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button></div>
              <div><button type="button" class="btn btn-secondary" (click)="reservacionR(); c('Close click')">Aceptar</button></div>
            </div>
          </ng-template>
        </div>
      </div>

      <!--<div class="form-group row" [ngClass]="{'has-danger': minlength?.errors?.minlength}">
        <label class="col-2 col-form-label">minlength</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="minlength" #minlength="ngModel" minlength="5" [ngClass]="{'form-control-danger': minlength?.errors?.minlength}" />
          <div class="form-control-feedback" *ngIf="minlength?.errors?.minlength">minlength error</div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-danger': maxlength?.errors?.maxlength}">
        <label class="col-2 col-form-label">maxlength</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="maxlength" #maxlength="ngModel" maxlength="5" [ngClass]="{'form-control-danger': maxlength?.errors?.maxlength}" />
          <div class="form-control-feedback" *ngIf="maxlength?.errors?.maxlength">maxlength error</div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-danger': pattern?.errors?.pattern}">
        <label class="col-2 col-form-label">pattern</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="pattern" #pattern="ngModel" pattern="[a-z]{6}"
            [ngClass]="{'form-control-danger': pattern?.errors?.pattern}" />
          <div class="form-control-feedback" *ngIf="pattern?.errors?.pattern">pattern error</div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-danger': base64?.errors?.base64}">
        <label class="col-2 col-form-label">base64</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="base64" #base64="ngModel" base64 [ngClass]="{'form-control-danger': base64?.errors?.base64}" />
          <div class="form-control-feedback" *ngIf="base64?.errors?.base64">base64 error</div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-danger': creditCard?.errors?.creditCard}">
        <label class="col-2 col-form-label">creditCard</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="creditCard" #creditCard="ngModel" creditCard [ngClass]="{'form-control-danger': creditCard?.errors?.creditCard}" />
          <div class="form-control-feedback" *ngIf="creditCard?.errors?.creditCard">creditCard error</div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-danger': date?.errors?.date}">
        <label class="col-2 col-form-label">date</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="date" #date="ngModel" date [ngClass]="{'form-control-danger': date?.errors?.date}" />
          <div class="form-control-feedback" *ngIf="date?.errors?.date">date error</div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-danger': dateISO?.errors?.dateISO}">
        <label class="col-2 col-form-label">dateISO</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="dateISO" #dateISO="ngModel" dateISO [ngClass]="{'form-control-danger': dateISO?.errors?.dateISO}" />
          <div class="form-control-feedback" *ngIf="dateISO?.errors?.dateISO">dateISO error</div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-danger': maxDate?.errors?.maxDate}">
        <label class="col-2 col-form-label">maxDate</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="maxDate" #maxDate="ngModel" maxDate="2016-12-12"
            [ngClass]="{'form-control-danger': maxDate?.errors?.maxDate}" />
          <div class="form-control-feedback" *ngIf="maxDate?.errors?.maxDate">maxDate error</div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-danger': minDate?.errors?.minDate}">
        <label class="col-2 col-form-label">minDate</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="minDate" #minDate="ngModel" minDate="2016-12-12"
            [ngClass]="{'form-control-danger': minDate?.errors?.minDate}" />
          <div class="form-control-feedback" *ngIf="minDate?.errors?.minDate">minDate error</div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-danger': digits?.errors?.digits}">
        <label class="col-2 col-form-label">digits</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="digits" #digits="ngModel" digits [ngClass]="{'form-control-danger': digits?.errors?.digits}" />
          <div class="form-control-feedback" *ngIf="digits?.errors?.digits">digits error</div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-danger': email?.errors?.email}">
        <label class="col-2 col-form-label">email</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="email" #email="ngModel" email [ngClass]="{'form-control-danger': email?.errors?.email}" />
          <div class="form-control-feedback" *ngIf="email?.errors?.email">email error</div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-danger': equal?.errors?.equal}">
        <label class="col-2 col-form-label">equal</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="equal" #equal="ngModel" equal="aabbcc" [ngClass]="{'form-control-danger': equal?.errors?.equal}" />
          <div class="form-control-feedback" *ngIf="equal?.errors?.equal">equal error</div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-danger': notEqual?.errors?.notEqual}">
        <label class="col-2 col-form-label">notEqual</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="notEqual" #notEqual="ngModel" notEqual="aabbcc"
            [ngClass]="{'form-control-danger': notEqual?.errors?.notEqual}" />
          <div class="form-control-feedback" *ngIf="notEqual?.errors?.notEqual">notEqual error</div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-danger': equalTo?.errors?.equalTo}">
        <label class="col-2 col-form-label">equalTo</label>
        <div class="col-10">
          <input class="form-control mb-3" type="text" ngModel name="password" #password="ngModel" />
          <input class="form-control" type="text" ngModel name="equalTo" #equalTo="ngModel" [equalTo]="password"
            [ngClass]="{'form-control-danger': equalTo?.errors?.equalTo}" />
          <div class="form-control-feedback" *ngIf="equalTo?.errors?.equalTo">equalTo error</div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-danger': notEqualTo?.errors?.notEqualTo}">
        <label class="col-2 col-form-label">notEqualTo</label>
        <div class="col-10">
          <input class="form-control mb-3" type="text" ngModel name="oldPassword" #oldPassword="ngModel" />
          <input class="form-control" type="text" ngModel name="notEqualTo" #notEqualTo="ngModel" [notEqualTo]="oldPassword"
            [ngClass]="{'form-control-danger': notEqualTo?.errors?.notEqualTo}" />
          <div class="form-control-feedback" *ngIf="notEqualTo?.errors?.notEqualTo">notEqualTo error</div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-danger': gt?.errors?.gt}">
        <label class="col-2 col-form-label">greater than</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="gt" #gt="ngModel" gt="10" [ngClass]="{'form-control-danger': gt?.errors?.gt}" />
          <div class="form-control-feedback" *ngIf="gt?.errors?.gt">greater than error</div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-danger': lt?.errors?.lt}">
        <label class="col-2 col-form-label">less than</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="lt" #lt="ngModel" lt="5" [ngClass]="{'form-control-danger': lt?.errors?.lt}" />
          <div class="form-control-feedback" *ngIf="lt?.errors?.lt">less than error</div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-danger': lt?.errors?.lt}">
        <label class="col-2 col-form-label">less than</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="lt" #lt="ngModel" lt="5" [ngClass]="{'form-control-danger': lt?.errors?.lt}" />
          <div class="form-control-feedback" *ngIf="lt?.errors?.lt">less than error</div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-danger': json?.errors?.json}">
        <label class="col-2 col-form-label">json</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="json" #json="ngModel" json [ngClass]="{'form-control-danger': json?.errors?.json}" />
          <div class="form-control-feedback" *ngIf="json?.errors?.json">json error</div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-danger': max?.errors?.max}">
        <label class="col-2 col-form-label">max</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="max" #max="ngModel" max="5" [ngClass]="{'form-control-danger': max?.errors?.max}" />
          <div class="form-control-feedback" *ngIf="max?.errors?.max">max error</div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-danger': min?.errors?.min}">
        <label class="col-2 col-form-label">min</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="min" #min="ngModel" min="5" [ngClass]="{'form-control-danger': min?.errors?.min}" />
          <div class="form-control-feedback" *ngIf="min?.errors?.min">min error</div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-danger': number?.errors?.number}">
        <label class="col-2 col-form-label">number</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="number" #number="ngModel" number [ngClass]="{'form-control-danger': number?.errors?.number}" />
          <div class="form-control-feedback" *ngIf="number?.errors?.number">number error</div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-danger': phone?.errors?.phone}">
        <label class="col-2 col-form-label">phone</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="phone" #phone="ngModel" phone [ngClass]="{'form-control-danger': phone?.errors?.phone}" />
          <div class="form-control-feedback" *ngIf="phone?.errors?.phone">phone error</div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-danger': range?.errors?.range}">
        <label class="col-2 col-form-label">range</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="range" #range="ngModel" [range]="[4,9]" [ngClass]="{'form-control-danger': range?.errors?.range}" />
          <div class="form-control-feedback" *ngIf="range?.errors?.range">range error</div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-danger': rangeLength?.errors?.rangeLength}">
        <label class="col-2 col-form-label">rangeLength</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="rangeLength" #rangeLength="ngModel" [rangeLength]="[4,9]"
            [ngClass]="{'form-control-danger': rangeLength?.errors?.rangeLength}" />
          <div class="form-control-feedback" *ngIf="rangeLength?.errors?.rangeLength">rangeLength error</div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-danger': url?.errors?.url}">
        <label class="col-2 col-form-label">url</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="url" #url="ngModel" url [ngClass]="{'form-control-danger': url?.errors?.url}" />
          <div class="form-control-feedback" *ngIf="url?.errors?.url">url error</div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-danger': uuid?.errors?.uuid}">
        <label class="col-2 col-form-label">uuid</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="uuid" #uuid="ngModel" uuid="3" [ngClass]="{'form-control-danger': uuid?.errors?.uuid}" />
          <div class="form-control-feedback" *ngIf="uuid?.errors?.uuid">uuid error</div>
        </div>
      </div>-->
    </form>
  </div>
</div>
