/*--
	Author:W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
--*/

html,
.body {
  margin: 0;
  font-size: 100%;
  background: #fff;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.body a {
  text-decoration: none;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

/*.main-top{
  background: #fff !important;
}*/

a:hover {
  text-decoration: none;
}

.background_form{
  //box-shadow: 1px 1px 1px 2px #bbbbbb;
  background-color: #F7F7F7;
  padding-top: 5%;
  padding-bottom: 5%;
  color: #4b4b4b !important;
}

.bordes{
  /*border: 0.5px;
  border-style: solid;
  border-color: #788b96;*/
  padding-top: 5%;
  padding-bottom: 5%;
  box-shadow: 2px 1px 5px #bcbebf;
}

.campos{
  color: #e29805;
  font-size: medium;
}

.enviar{
  width: 100% !important;
  background: #410344;
  color: #fff;
  opacity: 0.7;
  &:hover {
    opacity: 1.0;
  }
}

.fa{
  color: #4b4b4b !important;
}

.titulo{
  text-align: center;
}

input[type="button"],
input[type="submit"],
input[type="text"],
input[type="email"],
input[type="search"] {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  letter-spacing: 1px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

p {
  font-size: 0.9em;
  color: #777;
  line-height: 1.9em;
  letter-spacing: 1px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}


.breadcrumb,
ol {
  margin-bottom: 0 !important;
}

/* header */
/* top bar */
.header-top_w3layouts {
  padding: 0 .5em;
}

/* social icons */
.par-so {
  font-size: 14px;
}

.top-right-info span {
  color: #fff;
  line-height: 2.2;
  font-size: 14px;
}

.top-right-info li.soci-effe {
  width: 30px;
  height: 30px;
  text-align: center;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.top-right-info li.facebook {
  background: #3b5998;
}

.top-right-info li.twitter {
  background: #1da1f2;
}

.top-right-info li.google-plus {
  background: #F44336;
}

.top-right-info li.dribbble {
  background: #ea4c89;
}

.top-right-info li {
  display: inline-block;
}

/* //social icons */
.header-top_w3layouts p,
.header-w3layouts p,
.top-w3layouts p {
  font-size: 14px;
}
///listado
.top-w3layouts p a:hover,
.w3l-footer ul li a:hover {
  color: #7ed321 !important;
}

.list_of_cities {
  padding: 8px 10px;
  border: 1px solid #dee2e6;
  color: #343a40;
  font-size: 13px;
  letter-spacing: 1px;
  cursor: pointer;
}

/* //top bar */
/* header 2 */
/* navigation */
div#home {
  position: relative;
}

/* navigation */
.nav_w3pvt {
  margin-top: 0.5em;
}

/* CSS Document */
.toggle-2,
.toggle,
[id^=drop] {
  display: none;
}

/* Giving a background-color to the nav container. */
nav {
  margin: 0;
  padding: 0;
}

#logo a {
  float: left;
  display: initial;
  font-size: 46px;
  color: #fff;
  text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
  padding: 0;
}


/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
  content: "";
  display: table;
  clear: both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

/* Positioning the navigation items inline */
nav ul li {
  margin: 0px;
  display: inline-block;
  float: left;
}

/* Styling the links */
nav a {
  margin: 0 12px;
  color: #555;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
}

nav a:hover,
a.active {
  color: #e29805;
}

/* Background color change on Hover */

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
  display: none;
  position: absolute;
  top: 25px;
  background: #fff;
  padding: 10px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  z-index: 9;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display: inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

nav ul ul li a {
  color: #000;
  display: block;
  font-size: 13px;
  letter-spacing: 1px;
  margin: 0;
  margin: 10px;
}

/* Second, Third and more Tiers
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
  position: relative;
  top: -60px;
  /* has to be the same number as the "width" of "nav ul ul li" */
  left: 170px;
}


/* Change ' +' in order to change the Dropdown symbol */
li > a:only-child:after {
  content: '';
}

a.reqe-button {
  border: 2px solid rgba(255, 255, 255, 0.35);
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* Media Queries
--------------------------------------------- */
@media(max-width: 1080px) {
  .nav_w3ls {
    margin-top: 1.5em;
  }
}

@media all and (max-width : 991px) {
  .nav_w3ls {
    margin-top: 0;
  }

  #logo {
    display: block;
    padding: 0;
    width: 100%;
    text-align: center;
    float: none;
  }

  nav {
    margin: 0;
  }

  /* Hide the navigation menu by default */
  /* Also hide the  */
  .toggle + a,
  .menu {
    display: none;
  }

  /* Stylinf the toggle lable */
  .toggle {
    display: block;
    padding: 8px 14px;
    font-size: 13px;
    text-decoration: none;
    border: none;
    margin-top: 2em;
    float: right;
    background-color: #fff;
    color: #333;
    font-weight: 600;
    border: 1px solid rgb(170, 161, 161);
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-transform: uppercase;
  }

  .menu .toggle {
    float: none;
    text-align: center;
    margin: auto;
    max-width: 106px;
    padding: 5px;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 1px;
    color: #000;
    font-weight: 400;
    border: none;
    text-transform: uppercase;
  }

  .toggle:hover {
    opacity: .7;
  }

  /* Display Dropdown when clicked on Parent Lable */
  [id^=drop]:checked + ul {
    display: block;
    background: #fff;
    padding: 15px 0;
    text-align: center;
    width: 100%;
  }

  /* Change menu item's width to 100% */
  nav ul li {
    display: block;
    width: 100%;
    padding: 5px 0;
  }

  nav a:hover,
  nav ul ul ul a {
    background-color: transparent;
  }

  /* Hide Dropdowns by Default */
  nav ul ul {
    float: none;
    position: static;
    color: #fff;
    /* has to be the same number as the "line-height" of "nav a" */
  }

  /* Hide menus on hover */
  nav ul ul li:hover > ul,
  nav ul li:hover > ul {
    display: none;
  }

  /* Fisrt Tier Dropdown */
  nav ul ul li {
    display: block;
    width: 100%;
    padding: 0;
  }

  nav ul ul ul li {
    position: static;
    /* has to be the same number as the "width" of "nav ul ul li" */
  }

  nav ul ul li a {
    color: #000;
    font-size: 13px;
    padding: 0;
  }
}

@media all and (max-width : 440px) {
  .toggle {
    padding: 7px 12px;
    font-size: 14px;
  }

  #logo a {
    font-size: 32px;
  }
}

@media all and (max-width : 375px) {

  nav a,
  .menu .toggle {
    font-size: 13px;
  }
}

/*-- dropdown --*/
#demo {
  margin: 10px 0 0px 0;
}

#demo .wrapper {
  display: inline-block;
  position: relative;
}

#demo .parent {
  height: 100%;
  width: 100%;
  display: block;
  cursor: pointer;
  line-height: 30px;
  height: 30px;
  color: #fff;
  z-index: 2;
  position: relative;
  -webkit-transition: border-radius .1s linear, background .1s linear, z-index 0s linear;
  -webkit-transition-delay: .8s;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  padding-left: 0;
  padding-right: 0;
}

#demo .parent:hover,
#demo .content:hover ~ .parent {
  -webkit-transition-delay: 0s, 0s, 0s;
}

#demo .content:hover ~ .parent {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 0;
}

#demo .content {
  position: absolute;
  top: 0;
  display: block;
  z-index: 1;
  height: 0;
  width: 150px;
  padding-top: 30px;
  -webkit-transition: height .5s ease;
  -webkit-transition-delay: .4s;
}

#demo .wrapper:active .content {
  height: 150px;
  z-index: 3;
  -webkit-transition-delay: 0s;
}

#demo .content:hover {
  height: 150px;
  z-index: 3;
  -webkit-transition-delay: 0s;
}


#demo .content ul {
  background: #fff;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#demo .content ul a {
  text-decoration: none;
  padding: 0;
}

#demo .content li:hover {
  background: #f8f9fa;
}

#demo .content li {
  list-style: none;
  text-align: left;
  color: #999;
  font-size: 16px;
  line-height: 30px;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  border-top: 1px solid #eee;
}

#demo .content li:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* //dropdown */
/* //navigation */
/* logo */
a.navbar-brand {
  font-size: 1em;
  padding: 0;
  font-weight: 700;
  position: relative;
  color: #333;
  text-transform: uppercase;
}

.navbar-light .navbar-brand {
  color: #6c5ce7;
}

a.navbar-brand span {
  color: #333;
  font-size: 10.5px;
  letter-spacing: 3px;
  position: absolute;
  right: 0;
  bottom: 16px;
}

/* //logo */
/* dwn button */
.free-w3pvt {
  margin-top: 0.3em;
}

a.login-button-2 {
  letter-spacing: 2px;
  font-size: 13px;
  background: #58131e;
  padding: 12px 30px;
  display: inline-block;
  color: #fff;
}

a.login-button-2:hover {
  color: #fff;
}

a.login-button-2 span {
  font-size: 22px;
  vertical-align: middle;
}

/* // dwn button */
/* //header 2 */

/* banner */
.banner_main {
  background-image: url("../../../assets/images/reconstruccion.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  min-height: 38em;
}

.overlay-w3pvt {
  background: rgba(0, 0, 0, 0.38);
  min-height: 38em;
}

/* banner text */
.banner-info {
  padding: 12em 0 0 0;
}

.banner-info h5 {
  font-size: 1em;
  letter-spacing: 2px;
  color: #fff;
  font-weight: 300;
}

.banner-info h3 {
  font-size: 3.5em;
  letter-spacing: 1px;
  word-spacing: 6px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.banner-info p:before {
  position: absolute;
  content: "";
  background: #fff;
  width: 60px;
  height: 3px;
  bottom: -47px;
}

/* //banner text */
/* //banner */

/* banner bottom grids */
section.about-bottom {
  margin-top: -9em;
  z-index: 10;
  position: relative;
}

.feature-grids h3,
.bottom-gd.fea h3 {
  color: #05c46b;
  letter-spacing: 1px;
  margin-top: 0em;
  font-size: 1.4em;
}

.feature-grids p {
  margin: 0;
}

.feature-grids span {
  font-size: 2em;
  margin: 0.5em 0;
  color: #fc3d39;
}

.bottom-gd,
.bottom-gd2-active {
  background: #fff;
  transition: 2s all;
  -webkit-transition: 2s all;
  -moz-transition: 2s all;
  -ms-transition: 2s all;
  -o-transition: 2s all;
  box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, .1);
}

.bottom-gd2-active {
  background: #53d769;
  transition: 2s all;
  -webkit-transition: 2s all;
  -moz-transition: 2s all;
  -ms-transition: 2s all;
  -o-transition: 2s all;
}

.bottom-gd2-active p {
  color: #fff;
}

.bottom-gd2-active h3 {
  color: #fff;
}

.feature-grids h3,
.bottom-gd.fea h3 {
  font-size: 1em;
  color: #1e272e;
  text-transform: uppercase;
  font-weight: 600;
}

/* //banner bottom grids */
/*--/about--*/
h3.title-w3ls,
h3.title-w3ls.two {
  color: #4b4b4d;
  font-size: 2.5em;
  text-transform: capitalize;
  font-weight: 700;
}

h3.title-w3ls.two {
  color: #fff;
}

.cont-inf-w3ls h4 {
  font-size: 1.2em;
  color: #444;
  line-height: 1.7em;
  text-transform: capitalize;
  margin-bottom: 1em;
}

.cont-inf-w3ls p {
  margin: 1em 0;
}

.read {
  background: #fff;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  color: #fc3d39;
  padding: 0.6em 2em;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 2px;
  font-weight: 600;
  -moz-box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.cont-img-w3ls img {
  box-shadow: 7px 7px 10px 0 rgba(13, 14, 16, 0.1);
  -webkit-box-shadow: 7px 7px 10px 0 rgba(13, 14, 16, 0.1);
  -moz-box-shadow: 7px 7px 10px 0 rgba(13, 14, 16, 0.1);
  -o-box-shadow: 7px 7px 10px 0 rgba(13, 14, 16, 0.1);
  -ms-box-shadow: 7px 7px 10px 0 rgba(13, 14, 16, 0.1);
}

.serve-gd-w3pvt span {
  color: #53d769;
}

/*--//about--*/
/*--/stats--*/
.statistics {
  background-image: url("../../../assets/images/banner3.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
}

h4.progress-w3 {
  color: #444;
  font-size: 0.85em;
  text-transform: uppercase;
  margin-bottom: 1em;
  letter-spacing: 1px;
}

.progress-one .progress {
  height: 0.5rem;
  background: #fff;
}

.progress {
  font-size: 0.75em;
  line-height: 8em;
  text-align: center;
  background-color: #d6d9da;
  border-radius: 0.25rem;
  margin-bottom: 1em;
}

.progress-bar-striped {
  background-image: none;
  background-size: 1rem 1rem;
}

/*--//stats--*/
.blog-content {
  background: #f7f7f7;
}

/* gallery */
.gal-img img {
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
  padding: 10px;
}

.gal-img:hover.gal-img img {
  -webkit-box-shadow: 0 20px 40px -10px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 20px 40px -10px rgba(0, 0, 0, .3);
  box-shadow: 0 20px 40px -10px rgba(0, 0, 0, .3);
}

/* popup */
.pop-overlay {
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0ms;
  visibility: hidden;
  opacity: 0;
  z-index: 999;
}

.pop-overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  background: #fff;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  max-width: 550px;
  position: relative;
  margin: 8em auto;
  padding: 3em 2em 2em;
}

.popup .close {
  position: absolute;
  top: 5px;
  right: 15px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.popup .close:hover {
  color: #f0546a;
}

/* //popup */
/* //gallery */
/* --/contact-- */
.map iframe {
  border: none;
  width: 100%;
  min-height: 30em;
}

.map {
  position: relative;
  margin-bottom: 20em;
}

.contact-right-info h3 {
  color: #eee;
  font-size: 24px;
  letter-spacing: 1px;
}

.form h3 {
  color: #333;
  font-size: 24px;
  letter-spacing: 1px;
}

.contact-right-info p {
  margin: 0;
  font-size: 15px;
  color: #999;
  letter-spacing: 1px;
}

.main_grid_contact {
  width: 70%;
  position: absolute;
  bottom: -50%;
  left: 15%;
  -webkit-box-shadow: -5px 6px 25px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 6px 25px -12px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 6px 25px -12px rgba(0, 0, 0, 0.75);
}

.form {
  flex-basis: 60%;
  -webkit-flex-basis: 60%;
  padding: 3em 4em;
  background: #fff;
}

.contact-right-info {
  flex-basis: 40%;
  -webkit-flex-basis: 40%;
  padding: 3em 3em;
  background: #222;
}

.input-group input[type="text"],
.input-group input[type="email"] {
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: capitalize;
  padding: 15px 20px;
  width: 49%;
  color: #666;
  letter-spacing: 2px;
  box-sizing: border-box;
  outline: none;
  background: transparent;
}

.input-group input.margin2 {
  margin-right: 2%;
}

.input-group1 button.btn {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: none;
  cursor: pointer;
  color: #fff;
  background: #fc3d39;
  padding: 17px 15px;
  border: none;
  margin: 10px 0 0 auto;
  transition: all 0.5s ease-in;
  font-weight: 700;
}

textarea {
  font-size: 0.9em;
  resize: none;
  text-transform: capitalize;
  padding: 15px 20px;
  letter-spacing: 1px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  color: #666;
  background: transparent;
}

.contact-right-info address p span {
  width: 25px;
  margin-left: 0px;
  display: inline-block;
  color: #fff;
}

.contact-right-info address p,
.contact-right-info address p a {
  color: #bbb;
}

.contact-right-info address {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

/* --//contact-- */
/*-- /testimonials --*/

.testimonials {
  background-image: url("../../../assets/images/banner2.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
}

.overlay-w3pvt-test {
  background: rgba(0, 0, 0, 0.66);
}

.test-info {
  padding: 2em 0;
  margin: 0 auto;
  width: 60%;
}

.test-info h3 {
  font-size: 1em;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
}

.test-info p {
  color: #fff;
}

.test-img img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  padding: 4px;
  background: hsla(21, 60%, 94%, 0.33);
  width: 15%;
}


.test-info p span {
  font-size: 1.8em;
  color: #fff;
}

.clients li {
  margin: 0 0.2em;
  text-align: center;
  display: inline-block;
}

.clients li span {
  font-size: 0.8em;
  color: #fc3d39;
}

.clients li span:hover {
  opacity: 0.8;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;

}

/*-- //testimonials --*/
/* --//footer-- */


h2 a.navbar-brand span {
  color: #a51890;
  font-size: 1.4em;
}

h3.w3layouts_title {
  font-size: 1em;
  color: #444;
  font-weight: 600;
  text-transform: uppercase;

}

.footer-w3layouts li {
  list-style: none;
  margin: 1em 0;
}

.footer-w3layouts li a {
  color: #777;
  font-size: 0.9em;

}

.footer-text form {
  border: 1px solid #b9bdc1;
  width: 100%;
  margin-top: 20px;
}

.footer-text input[type="email"] {
  outline: none;
  padding: 12px 15px;
  color: #3c3a3a;
  font-size: 0.9em;
  width: 85%;
  border: none;
  background: none;
  letter-spacing: 2px;
}

.footer-text button.btn1 {
  color: #fc3d39;
  border: none;
  padding: 10px 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  background: none;
  cursor: pointer;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
  float: right;
  width: 15%;
}

.last-w3pvt-contact a {
  color: #888;
}

/* copyright */
.copy-right {
  border-top: 1px solid #ddd;
}

p.copy-right-grids a {
  color: #333;
}

/* //copyright */

.move-top {
  margin-top: 1.1em;
}


a.move-top span {
  color: #333;
  width: 36px;
  height: 36px;
  border: transparent;
  line-height: 2em;
  background: #d7dde13b;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  text-align: center;
}

.inner-sec-w3ls {
  padding: 0 3em;
}

/*-- //footer --*/


/*--responsive--*/

@media(max-width:1440px) {}

@media(max-width:1366px) {}

@media(max-width:1280px) {

  .banner_main,
  .overlay-w3pvt {
    min-height: 34em;
  }

  .test-info {
    margin: 0 auto;
    width: 65%;
  }

  .banner-info {
    padding: 11em 0 0 0;
  }
}

@media(max-width:1080px) {

  .banner_main,
  .overlay-w3pvt {
    min-height: 30em;
  }

  .test-info {
    padding: 0em 0;
    margin: 0 auto;
    width: 68%;
  }

  .banner-info h3 {
    font-size: 3.3em;
  }

  .banner-info {
    padding: 9em 0 0 0;
  }

  .feature-grids h3,
  .bottom-gd.fea h3 {
    font-size: 0.9em;
  }

  h3.title-w3ls,
  h3.title-w3ls.two {
    font-size: 2.3em;
  }

  p,
  .footer-w3layouts li a {
    font-size: 0.85em;
  }

  .map {
    margin-bottom: 17em;
  }
}


@media(max-width:1024px) {}

@media(max-width:991px) {

  .banner_main,
  .overlay-w3pvt {
    min-height: 28em;
  }

  .banner-info {
    padding: 7em 0 0 0;
  }

  .cont-img-w3ls {
    margin-top: 2em;
  }

  .blog-w3pvt-grid {
    float: left;
    width: 50%;
  }
}

@media(max-width:768px) {
  .main_grid_contact {
    width: auto;
    position: static;
    bottom: 0;
    left: 0%;
    margin-top: 2em;
  }

  .map {
    margin-bottom: 0em;
  }

  .map iframe {
    border: none;
    width: 100%;
    min-height: 18em;
    margin-bottom: 1em;
  }

  h3.title-w3ls,
  h3.title-w3ls.two {
    font-size: 2em;
  }
}


@media(max-width:736px) {

  .banner_main,
  .overlay-w3pvt {
    min-height: 26em;
  }

  .banner-info h3 {
    font-size: 3em;
  }
}

@media(max-width:667px) {
  .toggle {
    margin-top: 1em;
  }

  .banner-info h3 {
    font-size: 2.5em;
  }

  .test-info {
    padding: 0em 0;
    margin: 0 auto;
    width: 95%;
  }
}


@media(max-width:640px) {
  .banner-info h3 {
    font-size: 2.3em;
  }

  .banner_main,
  .overlay-w3pvt {
    min-height: 23em;
  }

  a.navbar-brand {
    font-size: 0.9em;
  }
}

@media(max-width:600px) {
  .banner-info h3 {
    font-size: 2.2em;
  }

  .blog-w3pvt-grid {
    float: left;
    width: 80%;
    margin: 0 auto;
  }

  .form {
    padding: 2em 2em;
  }

  .input-group input[type="text"],
  .input-group input[type="email"] {
    width: 100%;
  }

  .input-group input.margin2 {
    margin-right: 0;
    margin-bottom: 1em;
  }

  .par-so {
    font-size: 12px;
  }

}

@media(max-width:568px) {
  .select-city {
    margin-bottom: 1em;
  }

  .banner-info h3 {
    font-size: 2em;
  }

  .inner-sec-w3ls {
    padding: 0 2em;
  }
}

@media(max-width:480px) {

  h3.title-w3ls,
  h3.title-w3ls.two {
    font-size: 1.8em;
  }

  .banner_main,
  .overlay-w3pvt {
    min-height: 20em;
  }

  .banner-info {
    padding: 4em 0 0 0;
  }

  .blog-w3pvt-grid {
    width: 90%;
    margin: 0 auto;
  }
}

@media(max-width:414px) {
  .banner-info h3 {
    font-size: 1.8em;
  }
}

@media(max-width:375px) {

  h3.title-w3ls,
  h3.title-w3ls.two {
    font-size: 1.6em;
  }

  .banner_main,
  .overlay-w3pvt {
    min-height: 18em;
  }

  .banner-info {
    padding: 3em 0 0 0;
  }


}

@media(max-width:320px) {}

/*--//responsive--*/
