<!--<header id="home">
  &lt;!&ndash; top-bar &ndash;&gt;
  <div class="top-bar py-2">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-5 top-social-w3pvt-am mt-lg-1 mb-md-0 mb-1 text-lg-left text-center">
          <div class="row">
            <div class="col-xl-4 col-6 header-top_w3layouts border-right">
              <p>
                <span class="fa fa-map-marker mr-2"></span>Parma Via, Italy
              </p>
            </div>
            <div class="col-xl-4 col-6 header-top_w3layouts text-md-right">
              <p class="text-bl">
                <span class="fa fa-phone mr-2"></span>+1 000263676
              </p>
            </div>
            <div class="col-xl-4"></div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-7 top-social-w3pvt-am mt-lg-0 mt-2">
          <div class="row">
            <div class="col-sm-6 top-w3layouts">
              <div class="select-city text-center">
                <select class="list_of_cities">
                  <optgroup label="Popular Cities">
                    <option selected style="display:none;color:#eee;">Select City</option>
                    <option>Birmingham</option>
                    <option>Anchorage</option>
                    <option>Phoenix</option>
                    <option>Little Rock</option>
                    <option>Los Angeles</option>
                    <option>Denver</option>
                    <option>Bridgeport</option>
                    <option>Wilmington</option>
                    <option>Jacksonville</option>
                    <option>Atlanta</option>
                    <option>Honolulu</option>
                    <option>Boise</option>
                    <option>Chicago</option>
                    <option>Indianapolis</option>
                  </optgroup>
                  <optgroup label="Alabama">
                    <option>Birmingham</option>
                    <option>Montgomery</option>
                    <option>Mobile</option>
                    <option>Huntsville</option>
                    <option>Tuscaloosa</option>
                  </optgroup>
                  <optgroup label="Alaska">
                    <option>Anchorage</option>
                    <option>Fairbanks</option>
                    <option>Juneau</option>
                    <option>Sitka</option>
                    <option>Ketchikan</option>
                  </optgroup>
                  <optgroup label="Arizona">
                    <option>Phoenix</option>
                    <option>Tucson</option>
                    <option>Mesa</option>
                    <option>Chandler</option>
                    <option>Glendale</option>
                  </optgroup>
                  <optgroup label="Arkansas">
                    <option>Little Rock</option>
                    <option>Fort Smith</option>
                    <option>Fayetteville</option>
                    <option>Springdale</option>
                    <option>Jonesboro</option>
                  </optgroup>
                  <optgroup label="California">
                    <option>Los Angeles</option>
                    <option>San Diego</option>
                    <option>San Jose</option>
                    <option>San Francisco</option>
                    <option>Fresno</option>
                  </optgroup>
                  <optgroup label="Colorado">
                    <option>Denver</option>
                    <option>Colorado</option>
                    <option>Aurora</option>
                    <option>Fort Collins</option>
                    <option>Lakewood</option>
                  </optgroup>
                  <optgroup label="Connecticut">
                    <option>Bridgeport</option>
                    <option>New Haven</option>
                    <option>Hartford</option>
                    <option>Stamford</option>
                    <option>Waterbury</option>
                  </optgroup>
                  <optgroup label="Delaware">
                    <option>Wilmington</option>
                    <option>Dover</option>
                    <option>Newark</option>
                    <option>Bear</option>
                    <option>Middletown</option>
                  </optgroup>
                  <optgroup label="Florida">
                    <option>Jacksonville</option>
                    <option>Miami</option>
                    <option>Tampa</option>
                    <option>St. Petersburg</option>
                    <option>Orlando</option>
                  </optgroup>
                  <optgroup label="Georgia">
                    <option>Atlanta</option>
                    <option>Augusta</option>
                    <option>Columbus</option>
                    <option>Savannah</option>
                    <option>Athens</option>
                  </optgroup>
                  <optgroup label="Hawaii">
                    <option>Honolulu</option>
                    <option>Pearl City</option>
                    <option>Hilo</option>
                    <option>Kailua</option>
                    <option>Waipahu</option>
                  </optgroup>
                  <optgroup label="Idaho">
                    <option>Boise</option>
                    <option>Nampa</option>
                    <option>Meridian</option>
                    <option>Idaho Falls</option>
                    <option>Pocatello</option>
                  </optgroup>
                  <optgroup label="Illinois">
                    <option>Chicago</option>
                    <option>Aurora</option>
                    <option>Rockford</option>
                    <option>Joliet</option>
                    <option>Naperville</option>
                  </optgroup>
                  <optgroup label="Indiana">
                    <option>Indianapolis</option>
                    <option>Fort Wayne</option>
                    <option>Evansville</option>
                    <option>South Bend</option>
                    <option>Hammond</option>
                  </optgroup>
                  <optgroup label="Iowa">
                    <option>Des Moines</option>
                    <option>Cedar Rapids</option>
                    <option>Davenport</option>
                    <option>Sioux City</option>
                    <option>Waterloo</option>
                  </optgroup>
                  <optgroup label="Kansas">
                    <option>Wichita</option>
                    <option>Overland Park</option>
                    <option>Kansas City</option>
                    <option>Topeka</option>
                    <option>Olathe </option>
                  </optgroup>
                  <optgroup label="Kentucky">
                    <option>Louisville</option>
                    <option>Lexington</option>
                    <option>Bowling Green</option>
                    <option>Owensboro</option>
                    <option>Covington</option>
                  </optgroup>
                  <optgroup label="Louisiana">
                    <option>New Orleans</option>
                    <option>Baton Rouge</option>
                    <option>Shreveport</option>
                    <option>Metairie</option>
                    <option>Lafayette</option>
                  </optgroup>
                  <optgroup label="Maine">
                    <option>Portland</option>
                    <option>Lewiston</option>
                    <option>Bangor</option>
                    <option>South Portland</option>
                    <option>Auburn</option>
                  </optgroup>
                  <optgroup label="Maryland">
                    <option>Baltimore</option>
                    <option>Frederick</option>
                    <option>Rockville</option>
                    <option>Gaithersburg</option>
                    <option>Bowie</option>
                  </optgroup>
                  <optgroup label="Massachusetts">
                    <option>Boston</option>
                    <option>Worcester</option>
                    <option>Springfield</option>
                    <option>Lowell</option>
                    <option>Cambridge</option>
                  </optgroup>
                  <optgroup label="Michigan">
                    <option>Detroit</option>
                    <option>Grand Rapids</option>
                    <option>Warren</option>
                    <option>Sterling Heights</option>
                    <option>Lansing</option>
                  </optgroup>
                  <optgroup label="Minnesota">
                    <option>Minneapolis</option>
                    <option>St. Paul</option>
                    <option>Rochester</option>
                    <option>Duluth</option>
                    <option>Bloomington</option>
                  </optgroup>
                  <optgroup label="Mississippi">
                    <option>Jackson</option>
                    <option>Gulfport</option>
                    <option>Southaven</option>
                    <option>Hattiesburg</option>
                    <option>Biloxi</option>
                  </optgroup>
                  <optgroup label="Missouri">
                    <option>Kansas City</option>
                    <option>St. Louis</option>
                    <option>Springfield</option>
                    <option>Independence</option>
                    <option>Columbia</option>
                  </optgroup>
                  <optgroup label="Montana">
                    <option>Billings</option>
                    <option>Missoula</option>
                    <option>Great Falls</option>
                    <option>Bozeman</option>
                    <option>Butte-Silver Bow</option>
                  </optgroup>
                  <optgroup label="Nebraska">
                    <option>Omaha</option>
                    <option>Lincoln</option>
                    <option>Bellevue</option>
                    <option>Grand Island</option>
                    <option>Kearney</option>
                  </optgroup>
                  <optgroup label="Nevada">
                    <option>Las Vegas</option>
                    <option>Henderson</option>
                    <option>North Las Vegas</option>
                    <option>Reno</option>
                    <option>Sunrise Manor</option>
                  </optgroup>
                  <optgroup label="New Hampshire">
                    <option>Manchesters</option>
                    <option>Nashua</option>
                    <option>Concord</option>
                    <option>Dover</option>
                    <option>Rochester</option>
                  </optgroup>
                  <optgroup label="New Jersey">
                    <option>Newark</option>
                    <option>Jersey City</option>
                    <option>Paterson</option>
                    <option>Elizabeth</option>
                    <option>Edison</option>
                  </optgroup>
                  <optgroup label="New Mexico">
                    <option>Albuquerque</option>
                    <option>Las Cruces</option>
                    <option>Rio Rancho</option>
                    <option>Santa Fe</option>
                    <option>Roswell</option>
                  </optgroup>
                  <optgroup label="New York">
                    <option>New York</option>
                    <option>Buffalo</option>
                    <option>Rochester</option>
                    <option>Yonkers</option>
                    <option>Syracuse</option>
                  </optgroup>
                  <optgroup label="North Carolina">
                    <option>Charlotte</option>
                    <option>Raleigh</option>
                    <option>Greensboro</option>
                    <option>Winston-Salem</option>
                    <option>Durham</option>
                  </optgroup>
                  <optgroup label="North Dakota">
                    <option>Fargo</option>
                    <option>Bismarck</option>
                    <option>Grand Forks</option>
                    <option>Minot</option>
                    <option>West Fargo</option>
                  </optgroup>
                  <optgroup label="Ohio">
                    <option>Columbus</option>
                    <option>Cleveland</option>
                    <option>Cincinnati</option>
                    <option>Toledo</option>
                    <option>Akron</option>
                  </optgroup>
                  <optgroup label="Oklahoma">
                    <option>Oklahoma City</option>
                    <option>Tulsa</option>
                    <option>Norman</option>
                    <option>Broken Arrow</option>
                    <option>Lawton</option>
                  </optgroup>
                  <optgroup label="Oregon">
                    <option>Portland</option>
                    <option>Eugene</option>
                    <option>Salem</option>
                    <option>Gresham</option>
                    <option>Hillsboro</option>
                  </optgroup>
                  <optgroup label="Pennsylvania">
                    <option>Philadelphia</option>
                    <option>Pittsburgh</option>
                    <option>Allentown</option>
                    <option>Erie</option>
                    <option>Reading</option>
                  </optgroup>
                  <optgroup label="Rhode Island">
                    <option>Providence</option>
                    <option>Warwick</option>
                    <option>Cranston</option>
                    <option>Pawtucket</option>
                    <option>East Providence</option>
                  </optgroup>
                  <optgroup label="South Carolina">
                    <option>Columbia</option>
                    <option>Charleston</option>
                    <option>North Charleston</option>
                    <option>Mount Pleasant</option>
                    <option>Rock Hill</option>
                  </optgroup>
                  <optgroup label="South Dakota">
                    <option>Sioux Falls</option>
                    <option>Rapid City</option>
                    <option>Aberdeen</option>
                    <option>Brookings</option>
                    <option>Watertown</option>
                  </optgroup>
                  <optgroup label="Tennessee">
                    <option>Memphis</option>
                    <option>Nashville</option>
                    <option>Knoxville</option>
                    <option>Chattanooga</option>
                    <option>Clarksville</option>
                  </optgroup>
                  <optgroup label="Texas">
                    <option>Houston</option>
                    <option>San Antonio</option>
                    <option>Dallas</option>
                    <option>Austin</option>
                    <option>Fort Worth</option>
                  </optgroup>
                  <optgroup label="Utah">
                    <option>Salt Lake City</option>
                    <option>West Valley City</option>
                    <option>Provo</option>
                    <option>West Jordan</option>
                    <option>Orem</option>
                  </optgroup>
                  <optgroup label="Vermont">
                    <option>Burlington</option>
                    <option>Essex</option>
                    <option>South Burlington</option>
                    <option>Colchester</option>
                    <option>Rutland</option>
                  </optgroup>
                  <optgroup label="Virginia">
                    <option>Virginia Beach</option>
                    <option>Norfolk</option>
                    <option>Chesapeake</option>
                    <option>Arlington</option>
                    <option>Richmond</option>
                  </optgroup>
                  <optgroup label="Washington">
                    <option>Seattle</option>
                    <option>Spokane</option>
                    <option>Tacoma</option>
                    <option>Vancouver</option>
                    <option>Bellevue</option>
                  </optgroup>
                  <optgroup label="West Virginia">
                    <option>Charleston</option>
                    <option>Huntington</option>
                    <option>Parkersburg</option>
                    <option>Morgantown</option>
                    <option>Wheeling</option>
                  </optgroup>
                  <optgroup label="Wisconsin">
                    <option>Milwaukee</option>
                    <option>Madison</option>
                    <option>Green Bay</option>
                    <option>Kenosha</option>
                    <option>Racine</option>
                  </optgroup>
                  <optgroup label="Wyoming">
                    <option>Cheyenne</option>
                    <option>Casper</option>
                    <option>Laramie</option>
                    <option>Gillette</option>
                    <option>Rock Springs</option>
                  </optgroup>
                </select>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="col-sm-6 border-left mt-lg-1 socila-brek text-md-right text-center">
              &lt;!&ndash; social icons &ndash;&gt;
              <ul class="top-right-info">
                <li>
                  <p class="par-so mr-3">Follow As:</p>
                </li>
                <li class="mr-1 soci-effe facebook">
                  <a href="#">
                    <span class="fa fa-facebook-f"></span>
                  </a>
                </li>
                <li class="mr-1 soci-effe twitter">
                  <a href="#">
                    <span class="fa fa-twitter"></span>
                  </a>
                </li>
                <li class="mr-1 soci-effe google-plus">
                  <a href="#">
                    <span class="fa fa-google-plus"></span>
                  </a>
                </li>
                &lt;!&ndash; //social icons &#45;&#45;
                <li class="soci-effe dribbble">
                    <a href="#">
                        <span class="fa fa-dribbble"></span>
                    </a>
                </li>
                &lt;!&ndash; //social icons &ndash;&gt;
              </ul>
              &lt;!&ndash; //social icons &ndash;&gt;
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
&lt;!&ndash; //top-bar &ndash;&gt;-->

<!-- header 2 -->
<!-- navigation -->
<div class="body">
  <div class="main-top" >
    <div class="container d-lg-flex">
      <!-- logo -->
      <h1 class="logo-w3pvt float-left" style="margin-top: 10px; margin-bottom: 10px">
        <a class="navbar-brand" href="index.html">
          <img src="../../../assets/images/Yaakun.png" width="150" class="img-fluid logo-img">
        </a>
      </h1>
      <!-- //logo -->
      <!-- nav -->
      <div class="nav_w3pvt mx-lg-auto" >
        <nav style="margin-top: 35px; margin-bottom: 10px">
          <label for="drop" class="toggle">Menu</label>
          <input type="checkbox" id="drop" />
          <ul class="menu mx-lg-auto">
            <li><a [routerLink]="['/account/inicio']" class="active">Inicio</a></li>
            <li><a [routerLink]="['/account/conocenos']">Acerca de nosotros</a></li>
            <!--<li>
              &lt;!&ndash; First Tier Drop Down &ndash;&gt;
              <label for="drop-2" class="toggle toogle-2">Categorias <span class="fa fa-angle-down" aria-hidden="true"></span>
              </label>
              <a href="#">Categorias <span class="fa fa-angle-down" aria-hidden="true"></span></a>
              <input type="checkbox" id="drop-2" />
              <ul>
                <li><a href="#services" class="drop-text">Services</a></li>
                <li><a href="#stats" class="drop-text">Stats</a></li>
                <li><a href="#blog" class="drop-text">Blog</a></li>
                <li><a href="#test" class="drop-text">Testimonials</a></li>
              </ul>
            </li>-->
            <li><a [routerLink]="['/account/instituciones']">Intitutos Academicos</a></li>
            <li><a [routerLink]="['/account/patrocinadores']">Patrocinadores</a></li>
          </ul>
        </nav>
      </div>
      <!-- //nav -->
      <!-- dwn -->
      <div class="free-w3pvt text-center">
        <a [routerLink]="['/account/signin']" class="login-button-2 text-uppercase scroll mt-lg-0 mt-2">
          Iniciar sesion
        </a>
      </div>

      <!-- //dwn -->
    </div>
  </div>
  <!-- //navigation -->
  <!-- //header 2 -->

  <!-- banner -->
  <div class="banner_main">
    <div class="overlay-w3pvt">
      <div class="container">
        <div class="banner-info text-center">
          <h5>¡Trabajemos juntos!</h5>
          <h3>Acariciando México </h3>

        </div>
      </div>
    </div>
  </div>
  <!-- //banner -->
<!--formulario-->
  <section class="content-info py-5 mt-4" id="about">
    <div class="container py-md-5">
      <div class="info-w3pvt-mid text-left">
        <div class="row mt-lg-5 mt-4 bordes">
          <div class="col-lg-3"></div>
          <div class="col-lg-6 cont-inf-w3ls">
            <h1 class="titulo">Registrate</h1>
            <hr>

            <div class="form-group">
              <label for="nombre"><i class="fa fa-user"></i><span class="campos"> Nombre</span></label>
              <input type="text" class="form-control" id="nombre" aria-describedby="nombreHelp" placeholder="Juan Perez Villa">
              <small id="nombre_a" class="form-text text-muted">Nombre de la institución</small>
            </div>

            <div class="form-group">
              <label for="rfc"><i class="fa fa-list-alt"></i><span class="campos"> RFC</span></label>
              <input type="text" class="form-control" id="rfc" aria-describedby="RFCHelp" placeholder="ABCDE00000">
              <small id="rfc_a" class="form-text text-muted">Registro Federal de Contribuyentes</small>
            </div>

            <div class="form-group">
              <label for="correo"><i class="fa fa-envelope"></i><span class="campos"> Correo</span></label>
              <input type="text" class="form-control" id="correo" aria-describedby="correoHelp" placeholder="algo@ejemplo.com">
            </div>

            <div class="form-group">
              <label for="razonSocial"><i class="fa fa-user"></i><span class="campos"> Razón Social</span></label>
              <input type="text" class="form-control" id="razonSocial" aria-describedby="RazonSocialHelp" placeholder="Ejemplo S.A de C.V">
            </div>

              <div class="form-group">
                <label for="direccion"><i class="fa fa-address-book"></i><span class="campos"> Dirección</span></label>
                <textarea class="form-control" name="direccion" id="direccion" cols="30" rows="3"></textarea>
              </div>

              <div class="form-group">
                <label for="cp"><i class="fa fa-list-alt"></i><span class="campos"> CP</span></label>
                <input class="form-control" name="cp" id="cp" cols="30" rows="5" placeholder="Codigo postal">
              </div>

              <div class="form-group">
                <label for="estado"><i class="fa fa-map-marker"></i><span class="campos"> Estado</span></label>
                <select class="form-control" id="estado">
                  <option value="NA">Seleccione un estado</option>
                  <option  value="{{e.id_estado}}" *ngFor="let e of estados">{{e.nombre}}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="ciudad"><i class="fa fa-map-marker"></i><span class="campos"> Ciudad</span></label>
                <select class="form-control" id="ciudad">
                  <option value="NA">Seleccione una ciudad</option>
                  <option  value="{{m.id_municipio}}" *ngFor="let m of municipios">{{m.nombre}}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="tel"><i class="fa fa-phone-square"></i><span class="campos"> Teléfono</span></label>
                <input type="tel" class="form-control" name="tel" id="tel" cols="30" rows="5" placeholder="Numero de telefono">
              </div>

              <div class="form-group">
                <label for="ciudad"><i class="fa fa-user"></i><span class="campos"> Perfil</span></label>
                <select class="form-control" id="Perfil">
                  <option value="NA">Seleccione un perfil</option>
                  <option  value="patrocinador">Patrocinador</option>
                  <option  value="patrocinador">Instituto</option>.
                  <option  value="patrocinador">Ambos</option>
                </select>
              </div>

              <div class="form-group">
                <label for="banco"><i class="fa fa-university"></i><span class="campos"> Banco</span></label>
                <input type="text" class="form-control" name="banco" id="banco" cols="30" rows="5" placeholder="Banco">
              </div>

              <div class="form-group">
                <label for="num_cta"><i class="fa fa-credit-card"></i><span class="campos"> Num de cuenta</span></label>
                <input type="text" class="form-control" name="num_cta" id="num_cta" cols="30" rows="5" placeholder="Numero de cuenta o tarjeta">
              </div>

            <button class="btn enviar" (click)="registrar()">Enviar</button>

          </div>
        </div>

      </div>

    </div>

  </section>
  <!--/formulario-->

  <!-- /blog -->
  <section class="blog-content py-5" id="blog">
    <div class="container py-md-5 ">
      <h3 class="title-w3ls mb-5 text-center">
        Patrocinadores</h3>
      <div class="feature-grids">
        <div class="row">
          <div class="col-lg-4 mt-4" *ngFor="let p of patrocinadores">
            <div class="bottom-gd p-lg-5 p-4">
              <h3>{{p.nombre}}</h3>
              <p class="my-3">{{p.razon_social}}</p>
              <img src="../../../assets/images/reconstruccion.jpg" width="300px" alt="" class="img-fluid image1">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- //blog -->
  <!-- footer -->
  <footer class="footer-content py-5">
    <div class="container-fluid py-lg-5 inner-sec-w3ls">
      <div class="row">
        <div class="col-lg-4 footer-top mt-md-0 mt-sm-5 pr-lg-5">
          <h2>
              <img src="../../../assets/images/Yaakun.svg" alt="">
          </h2>
          <p class="my-3" style="text-align: center">Acariciando México ♥</p>

        </div>
        <div class="col-lg-3 mt-lg-0 mt-5">
          <div class="footer-w3layouts">
            <h3 class="mb-3 w3layouts_title">Navigación</h3>
            <hr>
            <div class="row">
              <ul class="col-6 list-info-w3layouts links">

                <li>
                  <a href="#home" class="scroll">
                    Inicio
                  </a>
                </li>
                <li>
                  <a href="#about" class="scroll">
                    Nosotros
                  </a>
                </li>
                <li>
                  <a href="#blog" class="scroll">
                    Institutos academicos
                  </a>
                </li>
                <li>
                  <a href="#services" class="scroll">
                    Patrocinadores
                  </a>
                </li>

              </ul>
            </div>

          </div>
        </div>

        <div class="col-lg-2 mt-lg-0 mt-5">
          <div class="footer-w3layouts">
            <h3 class="mb-3 w3layouts_title">Contactanos</h3>
            <hr>
            <div class="last-w3pvt-contact">
              <p>
                <a href="mailto:example@email.com">info@yaakun.com</a>
              </p>
            </div>
            <div class="last-w3pvt-contact my-2">
              <p>+52 415 153 4159</p>
            </div>
            <div class="last-w3pvt-contact">
              <p>+ Paloma 8 Col. Allende,
                <br>San Miguel de Allende, Gto. 37760.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-2 mt-lg-0 mt-5">
          <div class="footer-w3layouts">
            <h3 class="mb-3 w3layouts_title">Nuestras redes</h3>
            <hr>
            <ul class="top-right-info foot-icons mt-5">

              <li class="mr-1 soci-effe facebook">
                <a href="#">
                  <span class="fa fa-facebook-f"></span>
                </a>
              </li>
              <li class="mr-1 soci-effe twitter">
                <a href="#">
                  <span class="fa fa-twitter"></span>
                </a>
              </li>
              <li class="mr-1 soci-effe google-plus">
                <a href="#">
                  <span class="fa fa-google-plus"></span>
                </a>
              </li>
              <li class="soci-effe dribbble">
                <a href="#">
                  <span class="fa fa-dribbble"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>

    </div>
  </footer>
  <!-- //footer -->
  <div class="copy-right py-2">
    <div class="container-fluid inner-sec-w3ls">
      <div class="row">
        <div class="col-lg-8 copy-w3layouts">
          <p class="copy-right-grids text-lg-left text-center my-sm-4 my-4">© 2019 Yaakun. All Rights Reserved | Design by vanillaCode
          </p>
        </div>
        <div class="col-lg-4 w3pvt-footer text-md-right text-center">
          <div class="move-top"><a href="#home" class="move-top"> <span class="fa fa-angle-up" aria-hidden="true"></span></a></div>
        </div>

      </div>
      <!-- //footer bottom -->
    </div>
  </div>

</div>
