// ******
// Winter theme
// ******
$winter-theme-background: (background: $body-bg,
header: white,
sidebar: #464961,
brand: rgba(51, 51, 51, 1.00),
hover: rgba(black, 0.04),
hover-o: rgba(black, 0.05),
card: white,
modal: white,
secondary-button: white,
selected-cell: theme-colors("primary"),
chart-tooltip: rgba(51, 51, 51, 1.00),
);

$winter-theme-foreground: (base: $body-color,
header: $body-color,
header-hover: black,
sidebar: rgba(white, .72),
sidebar-hover: white,
brand: white,
divider: rgb(232, 232, 232),
disabled: rgba(black, 0.3),
muted-text: rgba(black, 0.3),
chart-grid: rgba(black, 0.05),
);

.theme-winter {
  @include theme($winter-theme-background, $winter-theme-foreground);

  .bg-cover {
    background-image: url(../../assets/images/voluntariado.jpg)
  }
}

// ******
// Spring theme
// ******
$spring-theme-background: (background: $body-bg,
header: white,
sidebar: #3e332f,
brand: rgba(51, 51, 51, 1.00),
hover: rgba(black, 0.04),
hover-o: rgba(black, 0.05),
card: white,
modal: white,
secondary-button: white,
selected-cell: theme-colors("primary"),
chart-tooltip: rgba(51, 51, 51, 1.00),
);

$spring-theme-foreground: (base: $body-color,
header: $body-color,
header-hover: black,
sidebar: rgba(white, .72),
sidebar-hover: white,
brand: white,
divider: rgb(232, 232, 232),
disabled: rgba(black, 0.3),
muted-text: rgba(black, 0.3),
chart-grid: rgba(black, 0.05),
);

.theme-spring {
  @include theme($spring-theme-background, $spring-theme-foreground);

  .bg-cover {
    background-image: url(../../assets/images/spring.jpg)
  }
}

// ******
// Autumn theme
// ******
$autumn-theme-background: (background: $body-bg,
header: white,
sidebar: #423016,
brand: rgba(51, 51, 51, 1.00),
hover: rgba(black, 0.04),
hover-o: rgba(black, 0.05),
card: white,
modal: white,
secondary-button: white,
selected-cell: theme-colors("primary"),
chart-tooltip: rgba(51, 51, 51, 1.00),
);

$autumn-theme-foreground: (base: $body-color,
header: $body-color,
header-hover: black,
sidebar: rgba(white, .72),
sidebar-hover: white,
brand: white,
divider: rgb(232, 232, 232),
disabled: rgba(black, 0.3),
muted-text: rgba(black, 0.3),
chart-grid: rgba(black, 0.05),
);

.theme-autumn {
  @include theme($autumn-theme-background, $autumn-theme-foreground);

  .bg-cover {
    background-image: url(../../assets/images/autumn.jpg)
  }
}

// ******
// Summer theme
// ******
$summer-theme-background: (background: $body-bg,
header: white,
sidebar: #402610,
brand: rgba(51, 51, 51, 1.00),
hover: rgba(black, 0.04),
hover-o: rgba(black, 0.05),
card: white,
modal: white,
secondary-button: white,
selected-cell: theme-colors("primary"),
chart-tooltip: rgba(51, 51, 51, 1.00),
);

$summer-theme-foreground: (base: $body-color,
header: $body-color,
header-hover: black,
sidebar: rgba(white, .72),
sidebar-hover: white,
brand: white,
divider: rgb(232, 232, 232),
disabled: rgba(black, 0.3),
muted-text: rgba(black, 0.3),
chart-grid: rgba(black, 0.05),
);

.theme-summer {
  @include theme($summer-theme-background, $summer-theme-foreground);

  .bg-cover {
    background-image: url(../../assets/images/summer.jpg)
  }
}

// ******
// Eclipse theme
// ******
$eclipse-theme-background: (background: #3a3a3a,
header: map_get($mat-grey, 800),
sidebar: rgba(51, 51, 51, 1.00),
brand: rgba(51, 51, 51, 1.00),
hover: rgba(white, 0.04),
hover-o: rgba(white, 0.05),
card: map_get($mat-grey, 800),
modal: map_get($mat-grey, 800),
secondary-button: map-get($mat-grey, 800),
selected-cell: theme-colors("primary"),
chart-tooltip: rgba(51, 51, 51, 1.00),
);

$eclipse-theme-foreground: (base: white,
header: rgba(white, 0.7),
header-hover: white,
sidebar: rgba(white, .56),
sidebar-hover: white,
brand: white,
divider: rgba(white, 0.12),
disabled: rgba(white, 0.3),
muted-text: rgba(white, 0.3),
chart-grid: rgba(white, 0.05),
);

.theme-eclipse {
  @include theme($eclipse-theme-background, $eclipse-theme-foreground);

  .bg-cover {
    background-image: url(../../assets/images/eclipse.jpg)
  }
}
