<div *ngIf="usuario">
  <div class="card-header">
    <span *ngIf="lista">
        <i class="icon ion-android-list"></i> Tipo de gastos
    </span>

    <a class="btn btn-link" *ngIf="editarCat" (click)="back()">
      <i class="icon ion-android-arrow-back" aria-hidden="true"></i> Lista tipo de gastos
    </a>

    <a class="btn btn-link" *ngIf="agregar" (click)="back()">
      <i class="icon ion-android-arrow-back " aria-hidden="true"></i> Lista tipo de gastos
    </a>

    <span *ngIf="admin">
      <a  class="btn btn-link add" *ngIf="lista" (click)="agregarTipoGasto()">
        <i class="icon ion-android-add-circle"></i> Agregar tipo
      </a>
    </span>

  </div>
  <div class="card mb-3 boddy">
    <div class="datos">
      <div class="col col-md-12 col-xl-12 col-lg-12">

        <div class="row" style="margin-top: 5px" *ngIf="lista">
          <div class="col-sm-4" *ngFor="let tg of tiposGastos">
            <div class="card bg-light mb-3">
              <div class="card-header">
                <button class="btn btn-link ir" (click)="irTipoGasto(tg.id_tipo_gasto, tg.nombre)">{{ tg.nombre }} ({{tg.tipo}})</button>
                <span class="iconos">
                  <a (click)="eliminarPreTipoGasto(tg.id_tipo_gasto, tg.nombre)"><i class="icon ion-trash-b icono" *ngIf="admin"></i></a>
                  <a (click)="editarTipoGasto(tg.id_tipo_gasto)"><i class="icon ion-edit icono" *ngIf="admin"></i></a>
                </span>
              </div>
              <div class="card-body">
                <!--<h4 class="card-title">Primary card title</h4>-->
                <p class="card-text">{{tg.descripcion}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 5px" *ngIf="editarCat">
          <div class="card-body">
            <fieldset class="form-group">
              <label>Nombre: </label>
              <input class="form-control"  type="text" id="nombre" name="nombre" [(ngModel)]="nombre">
            </fieldset>

            <fieldset class="form-group">
              <label>Descripcion: </label>
              <textarea class="form-control"  type="text" id="descripcion" name="descripcion" [(ngModel)]="descripcion"></textarea>
            </fieldset>

            <div class="form-group">
              <label for="tipo_e">Tipo</label>
              <select class="form-control" id="tipo_e" name="tipo_e" [(ngModel)]="tipo_e">
                <option value="TD">TD</option>
                <option value="TC">TC</option>
                <option value="Chequera">Chequera</option>
              </select>
            </div>

            <button style="width: 50%; margin-left: 25%" class="btn btn-primary" (click)="guardarTipoGastoEditar()">Guardar cambios</button>
          </div>
        </div>

        <div class="row" style="margin-top: 5px" *ngIf="agregar">
          <div class="card-body">
            <fieldset class="form-group">
              <label>Nombre: </label>
              <input class="form-control"  type="text" id="nombre_a" name="nombre_a" [(ngModel)]="nombre_a">
            </fieldset>

            <fieldset class="form-group">
              <label>Descripcion: </label>
              <textarea class="form-control"  type="text" id="descripcion_a" name="descripcion_a" [(ngModel)]="descripcion_a"></textarea>
            </fieldset>

            <div class="form-group">
              <label for="tipo_a">Tipo</label>
              <select class="form-control" id="tipo_a" name="tipo_a" [(ngModel)]="tipo_a">
                <option value="">Seleccione una opcion</option>
                <option value="TD">TD</option>
                <option value="TC">TC</option>
                <option value="Chequera">Chequera</option>
              </select>
            </div>


            <button style="width: 50%; margin-left: 25%" class="btn btn-primary" (click)="guardarTipoGasto()">Guardar</button>
          </div>
        </div>

      </div>
    </div>
  </div>


</div>
